/* заголовка цвет #212121 */
/* белый #FFFFFF*/
/* цвет акцент #2196F3 */
/* основной цвет #757575 */
/* вторичный фон #F5F4FA */
/* цвет заголовка #2F303A */
/* фон #E5E5E5 */

:root {
  --primary-text-color: #757575;
  --tittle-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --footer-color: #2f303a;
  --primary-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
}

.body {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;

  margin: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
/* Утилиты */
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  text-decoration: none;
}

header {
  border-bottom: 1px solid #ececec;
}
/* Logo */
.main-nav .logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;

  padding-top: 24px;
  padding-bottom: 24px;
}
.logo-first {
  color: var(--accent-color);
}
.logo-second {
  color: #000000;
}

/* Site nav */
.list {
  list-style: none;
}

.main-nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
}

.site-nav {
  display: flex;
  margin-left: 93px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.main-nav .link-adress {
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  display: block;
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link {
  color: var(--tittle-color);
}
.site-nav .link:focus,
.link:hover {
  color: var(--accent-color);
}
.link {
  text-decoration: none;
}
.link-adress {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.link-adress:hover,
.link-adress:focus {
  color: var(--accent-color);
}

.adress {
  display: flex;
  margin-left: auto;
}

.adress .item + .item {
  margin-left: 50px;
}
/* Шапка сайта */

.hero-tittle {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.17;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 30px;
}
.hero {
  background-color: var(--footer-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/background.jpg');
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Button */
.main-button {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  cursor: pointer;

  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
}
.main-button:hover,
.main-button:focus {
  background-color: #188ce8;
}

/* Преимущества */

.advantage {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 94px;
  margin-bottom: 106px;
}

.advantage-list .tittle {
  color: var(--tittle-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
}

.advantage .description {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.advantage-list {
  display: flex;
}

.advantage-list .item + .item {
  margin-left: 30px;
}

/* Чем мы занимаемся */

.products {
  padding-top: 0;
}

.products-tittle {
  color: var(--tittle-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  padding-bottom: 50px;
}
.products .list {
  display: flex;
}

.products .item + .item {
  margin-left: 30px;
}
/* Наша команда */
.team {
  background-color: var(--secondary-background-color);
}

.team .list {
  display: flex;
}

.team .item + .item {
  margin-left: 30px;
}
.team-tittle {
  color: var(--tittle-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  padding-bottom: 50px;
}

.member-name {
  color: var(--tittle-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;

  text-align: center;
  padding-top: 30px;
}
.position {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.17;

  margin-top: 0px;
  /* margin-bottom: 30px; */
  padding-top: 10px;
  text-align: center;
}

.team-member .item {
  padding-bottom: 24px;
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  padding-bottom: 30px;
}

/* Подвал */
.page-footer .link-adress {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  font-style: normal;
}
.page-footer .contact {
  color: rgba(255, 255, 255, 0.6);
}
.page-footer .link-adress:focus,
.link-adress:hover {
  color: var(--accent-color);
}
.page-footer {
  background-color: var(--footer-color);
}
.page-footer .logo-second {
  color: var(--primary-white-color);
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer .logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
}

.page-footer .adress-list {
  margin-top: 20px;
}
/* Страница Портфолио */

/* Фильтр */
.project-item {
  text-decoration: none;
}

.btn-filter {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 50px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.btn-filter .item + .item {
  margin-left: 8px;
}
.button {
  background-color: var(--secondary-background-color);
  color: var(--tittle-color);
  font-family: inherit;

  cursor: pointer;

  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  text-align: center;
  border: 1px solid transparent;
}
.btn-filter .button:hover,
button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.filter {
  padding-top: 94px;
}

/* Проекты */

.project-item {
  text-decoration: none;
}

.section .project {
  display: flex;
  flex-wrap: wrap;
}

.project-list {
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;

  margin-right: 30px;
  margin-bottom: 30px;
}

.project-list:nth-child(3n) {
  margin-right: 0;
}

.project-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.project-name {
  color: var(--tittle-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-box {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
}
.filter-name {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
